@{
    ViewBag.Title = "CustomConstraints";
}

<h2>Html5 Custom Constraints</h2>

<h3 style="color: Red;">@ViewBag.Message</h3>

@using (Html.BeginForm()){
    
<fieldset>
    <legend>Html5</legend>

    <div class="editor-label">
        <label>Required: </label>
    </div>
    <div class="editor-field">
        <input type="text" required /> <pre class="prettyprint inline">@(@"<input type=""text"" required />")</pre>
    </div>

    <div class="editor-label">
        <label>Password: </label>
    </div>
    <div class="editor-field">
        <input type="text" id="password" required /> <pre class="prettyprint inline">@(@"<input type=""text"" id=""password"" required />")</pre>
    </div>

    <div class="editor-label">
        <label>Confirm: </label>
    </div>
    <div class="editor-field">
        <input type="text" id="confirm" /> <pre class="prettyprint inline">@(@"<input type=""text"" id=""confirm"" />")</pre>
    </div>
    
    <p>
        <input type="submit" value="Save" /> | @Html.ActionLink("Cancel", "Index")
    </p>
</fieldset>
    
}

<hr />
<a href="#" id="showhide">Show/Hide</a>
<pre class="prettyprint accordion">
    $(function () {
        $("#confirm").bind('blur keyup', function () {
            checkPassword();
        });
    });

    function checkPassword() {
        var password = document.getElementById('password');
        var confirm = document.getElementById('confirm');
        if (password.value != confirm.value) {
            confirm.setCustomValidity('passwords do not match');
        } else {
            confirm.setCustomValidity('');
        }
    }
</pre>

<script>
    $(function () {
        $("#confirm").bind('blur keyup', function () {
            checkPassword();
        });
    });

    function checkPassword() {
        var password = document.getElementById('password');
        var confirm = document.getElementById('confirm');
        if (password.value != confirm.value) {
            confirm.setCustomValidity('passwords do not match');
        } else {
            confirm.setCustomValidity('');
        }
    }
</script>