@{
    ViewBag.Title = "CustomConstraintStyling";
}

<h2>Styling Html5 forms with Css</h2>

<h3 style="color: Red;">@ViewBag.Message</h3>

@using (Html.BeginForm()){
    
<fieldset>
    <legend>Html5</legend>

    <div class="editor-label">
        <label>Required: </label>
    </div>
    <div class="editor-field">
        <input type="text" required /> <pre class="prettyprint inline">@(@"<input type=""text"" required />")</pre>
    </div>

    <div class="editor-label">
        <label>Email: </label>
    </div>
    <div class="editor-field">
        <input type="email" required /><span id="emailValid" class="email-validity">[Valid!]</span> <pre class="prettyprint inline">@(@"<input type=""email"" required />")</pre>
    </div>

    <div class="editor-label">
        <label>Number: </label>
    </div>
    <div class="editor-field">
        <input type="number" min="10" max="20" /> <pre class="prettyprint inline">@(@"<input type=""number"" min=""10"" max=""20"" />")</pre>
    </div>
    
    <p>
        <input type="submit" value="Save" /> | @Html.ActionLink("Cancel", "Index")
    </p>
</fieldset>
    
}

<hr />
<pre class="prettifyprettyprint">
    .email-validity
    {
        display:none;
    }
    
    input:required:invalid {
        background: pink;
    }
    
    input[type=email]:valid + .email-validity
    {
        display: block;
    }
    
    input:out-of-range
    {
        background: green;
    }
</pre>

@section HeaderContent {
<style type="text/css">        
    .email-validity
    {
        display:none;
    }
    
    input:required:invalid {
        background: pink;
    }
    
    input[type=email]:valid + .email-validity
    {
        display: inline;
    }
    
    input:out-of-range
    {
        background: green;
    }
</style>
}