@{
    ViewBag.Title = "Reading Cookies";
}

@section HeaderContent
{
    <script type="text/javascript">
        $(function () {

            // read all cookies that were user defined
            $.each($(".key"), function (index, item) {
                var key = $(item).html();

                $("#" + key + "_val").html(readCookie(key));
            });

            $("#btn_ChangeCookie").click(function () {
                // change cookie values
                setcookie("demo2", "Down with hypnotoad!");

                $(this).parents("form")[0].submit();
            });
        });

        // code taken from http://www.quirksmode.org/js/cookies.html
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function setcookie(c_name, value) {
            document.cookie = c_name + "=" + escape(value);
        } 

    </script>
}

<h2>Reading Cookies</h2>

<fieldset>
    <legend>Defined Values</legend>

    <table>
        <thead>
            <tr>
                <td>Key</td>
                <td>Value</td>
                <td>Expiration</td>
                <td>Http Only</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var key in Response.Cookies)
            {
                var val = Response.Cookies[key.ToString()];
                <tr>
                    <td><span class="key">@key</span></td>
                    <td>@val.Value</td>
                    <td>@val.Expires</td>
                    <td>@val.HttpOnly</td>
                </tr>
            }
        </tbody>
    </table>
    
</fieldset>

<fieldset>
    <legend>Read Values (using JS)</legend>

    <table>
        <thead>
            <tr>
                <td>Key</td>
                <td>Value</td>
                <td>Expiration</td>
                <td>Domain</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var key in Response.Cookies)
            {
                var val = Response.Cookies[key.ToString()];
                <tr>
                    <td>@key</td>
                    <td><span id='@(string.Format("{0}_val", key))'></span></td>
                    <td><span id='@(string.Format("{0}_expire", key))'></span></td>
                    <td><span id='@(string.Format("{0}_domain", key))'></span></td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>

<fieldset>

    <legend>Modify Cookie</legend>

    @using (Html.BeginForm())
    { 
    <input type="button" value="Change Cookies" id="btn_ChangeCookie" />
    }

</fieldset>